<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="layout:: head(edit)"></head>
<body>
<header th:replace="layout :: header"></header>
<nav th:replace="layout :: nav(projects)"></nav>
<section>
    <div class="container wrapper">
        <form th:action = "@{/testing}" method = "post" th:object="${project}">
            <div>
                <label for="project_roles">Project Roles:</label>
                <ul class="checkbox-list" >
                    <li th:each="role,status: ${project.RolesNeeded}">
                        <input type="checkbox" th:field="*{RolesNeeded[__${status.index}__]}" th:value="${role}" />
                        <span class="primary" th:text="${role.name}"> Developer</span>
                    </li>
                </ul>
            </div>
            <div class="actions">
                <input type="submit" value="Save" class="button" />
                <a href="#" class="button button-secondary">Cancel</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>